<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Arthur Gonçalves Barboza 
      N075.807.059-40
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Arthur GonçalvesBarboza</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-card>
    <ion-card-header>
     
      
      <p> Byte <ion-input type = "number" placeholder ="Informe um valor" [(ngModel)] = "valorB"> </ion-input> <ion-button (click) = "calculaB(valorB)"> Converter </ion-button></p>
      <p> KB <ion-input type = "number" placeholder ="Informe um valor" [(ngModel)] = "valorKB"> </ion-input> <ion-button (click) = "calculaKB(valorKB)"> Converter </ion-button></p>
      <p> MB <ion-input type = "number" placeholder ="Informe um valor" [(ngModel)] = "valorMB"> </ion-input> <ion-button (click) = "calculaMB(valorMB)"> Converter </ion-button></p>
      <p> GB <ion-input type = "number" placeholder ="Informe um valor" [(ngModel)] = "valorGB"> </ion-input> <ion-button (click) = "calculaGB(valorGB)"> Converter </ion-button></p>
      
    </ion-card-header>
  
  </ion-card>

  <ion-card> 
    <p> Byte : {{(valorSaidaB)}} </p>
    <p> KB : {{valorSaidaKB}} </p>
    <p> MB : {{valorSaidaMB}} </p>
    <p> GB : {{valorSaidaGB}} </p>
    

  </ion-card>  

</ion-content>
